<script>
	import Article from './Article.svelte';
	let articles = [];
	async function fetchArticles() {
		const response = await fetch('https://jsonplaceholder.typicode.com/posts');
		articles = await response.json();
	}
	fetchArticles();
</script>
<main>
	{#each articles as article (article.id)}
		<Article article={article} />
	{/each}
</main>
<link rel="stylesheet" href="./global.css">
<style>
	main {
		padding: 20px;
	}
</style>