<script>
    export let article;
</script>
<article class="p-4 border border-gray-300 rounded-md shadow-md">
    <h2 class="text-xl font-bold mb-2">{article.title}</h2>
    <p>{article.body}</p>
</article>
<style>
    article {
        background-color: #f1f5f9;
    }

    h2 {
        color: #1a202c;
    }

    p {
        color: #4a5568;
    }
</style>